.list-group-item {
  display: flex;
  align-items: center;
  justify-items: center;
}

.btn {
  height: fit-content;
}

.complete {
  text-decoration: line-through;
}

input.todo{
  border: none;
}

form.addTodo{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  align-items: start;
}